# Dependencies
node_modules/
*/node_modules/

# Environment variables
.env
.env.*
*/.env
*/.env.*
!.env.example
!*/.env.example

# Build outputs
dist/
*/dist/

# Uploads & Temporary Assets
uploads/
*/uploads/
scratch/
temp/

# Logs
*.log
logs/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
